grant codeBase "${edu.ufp.sd.projeto.activation.setup.codebase}" {
    // permissions to read system properties required by setup program
    permission java.util.PropertyPermission "edu.ufp.sd.projeto.activation.impl.codebase","read";
    permission java.util.PropertyPermission "edu.ufp.sd.projeto.activation.policy","read";
    permission java.util.PropertyPermission "edu.ufp.sd.projeto.activation.file","read";
    permission java.util.PropertyPermission "edu.ufp.sd.projeto.activation.servicename","read";
    // permission to connect to the activation system and the registry
    permission java.net.SocketPermission "*:1098-1100","connect";
};
